*{
    margin: 0;
    padding: 0;
}

nav{
    height: 50px;
    background-color: #484848;
    color: #c8c8c8;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
nav li{
    padding: 10px;
}

a{
    text-decoration: none;
    color: orange;
}
a:hover{
    color: #8961b5;
}

section{
    min-height: 480px;
    background-color: #484848;
    color: orange;
    padding: 10px;
    border: 2px dotted #8961b5;
}

section:hover{
    background-color: #181818;
    color: rgb(255,188,63);
}